<section id="about" class="about">
  <div class="container">
    <div class="text-vertical-center">
      <div class="col-lg-12 text-center">
		<font size="4em" color="red">
        <h1>Intelligence Engineering Laboratory</h1>
		</font>
		<br><br><br>
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank"
		href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
		<font size="5em" color="black">
		<p> Welcome to the website of Intelligence Engineering Laboratory.
		<br>
		Our laboratory conducts researches on 
		<br>
		<strong> Large-scale data Engineering, Data mining & Knowledge Discovery,</strong>
		<br>
		<strong> Distributed and Parallel Query Processing, Deep Learning,
		<br>
		Spatio-temporal Data analysis, and Biomedical Text Mining.</strong>
		<br><br>
		</p>
		</font>
		<!-- <a target="_blank" href="#services"> <h2> Go to Our Contents </h2> </a>-->
		
		<!-- <a href="/otherhtml/people.html" class="btn btn-light">Detail Info</a> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>